@keyframes follow{
  0%{background-color:#333333;
    width: 97%;
    height: 83%;
    
    margin-top: 0%;
    padding: 1%;
    border: 4px solid transparent;
      border-radius: 7px;
      background: 
          linear-gradient(to right, rgb(27, 27, 27), rgb(20,20,20)), 
          linear-gradient(15deg, rgb(255, 55, 222) , rgb(77, 0, 219)); 
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      margin-bottom: 0%;}
    12.5%{
      background-color:#333333;
      width: 97%;
      height: 83%;
      
      margin-top: 0%;
      padding: 1%;
      border: 4px solid transparent;
      border-radius: 7px;
      background: 
          linear-gradient(to right, rgb(27, 27, 27), rgb(20,20,20)), 
          linear-gradient(15deg, rgb(211,42,229 ) , rgb(122,14,218)); 
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      margin-bottom: 0%;

    }
    25%{
    background-color:#333333;
    width: 97%;
    height: 83%;
    
    margin-top: 0%;
    padding: 1%;
    border: 4px solid transparent;
      border-radius: 7px;
      background: 
          linear-gradient(to right, rgb(27, 27, 27), rgb(20,20,20)), 
          linear-gradient(15deg, rgb(166,28,217) , rgb(166,28,217)); 
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      margin-bottom: 0%;
    
  }
  37.5%{
    background-color:#333333;
    width: 97%;
    height: 83%;
    
    margin-top: 0%;
    padding: 1%;
    border: 4px solid transparent;
      border-radius: 7px;
      background: 
          linear-gradient(to right, rgb(27, 27, 27), rgb(20,20,20)), 
          linear-gradient(15deg, rgb(122,14,218) , rgb(211,42,220)); 
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      margin-bottom: 0%;
  }
  50%{background-color:#333333;
    width: 97%;
    height: 83%;
    
    margin-top: 0%;
    padding: 1%;
    border: 4px solid transparent;
      border-radius: 7px;
      background: 
          linear-gradient(to right, rgb(27, 27, 27), rgb(20,20,20)), 
          linear-gradient(15deg, rgb(77, 0, 219) , rgb(255, 55, 222)); 
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      margin-bottom: 0%;}
  62.5%{
    width: 97%;
    height: 83%;
    
    margin-top: 0%;
    padding: 1%;
    border: 4px solid transparent;
      border-radius: 7px;
      background: 
          linear-gradient(to right, rgb(27, 27, 27), rgb(20,20,20)), 
          linear-gradient(15deg, rgb(122,14,218) , rgb(211,42,220)); 
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      margin-bottom: 0%;
  }
  75%{
    background-color:#333333;
    width: 97%;
    height: 83%;
    
    margin-top: 0%;
    padding: 1%;
    border: 4px solid transparent;
      border-radius: 7px;
      background: 
          linear-gradient(to right, rgb(27, 27, 27), rgb(20,20,20)), 
          linear-gradient(15deg, rgb(166,28,217) , rgb(166,28,217)); 
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      margin-bottom: 0%;
    
  }
  87.5%{

    background-color:#333333;
    width: 97%;
      height: 83%;
      
      margin-top: 0%;
      padding: 1%;
      border: 4px solid transparent;
      border-radius: 7px;
      background: 
          linear-gradient(to right, rgb(27, 27, 27), rgb(20,20,20)), 
          linear-gradient(15deg,rgb(211,42,229   , rgb(122,14,218))); 
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      margin-bottom: 0%;
  }
  100%{background-color:#333333;
    width: 97%;
    height: 83%;
    
    
    margin-top: 0%;
    padding: 1%;
    border: 4px solid transparent;
      border-radius: 7px;
      background: 
          linear-gradient(to right, rgb(27, 27, 27), rgb(20,20,20)), 
          linear-gradient(15deg, rgb(255, 55, 222) , rgb(77, 0, 219)); 
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      margin-bottom: 0%;}
}
object{
  
  animation-name: follow;
  animation-duration: 1s;
  animation-iteration-count: infinite;

}

div{
  width:100%;
  /*margin: 0 auto;*/
  color: gainsboro;
}
.textContainer{
  animation-name: follow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  color: gainsboro
}
form{
  margin-top: 1%;
  background-color: #222222;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 99%;
  
  
  border: 4px solid transparent;
  border-radius: 7px;
  background: 
      linear-gradient(to right, rgb(27, 27, 27), rgb(20,20,20)), 
      linear-gradient(15deg, rgb(255, 55, 222) , rgb(138, 0, 230)); 
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}
input{
  margin-left: 5%;
  height: 4%;
  width: 80%;
  padding-left: 1%;
  min-height: 40px;
  
}


.msgBox{
  width: 150%;
}
#nameBox{
  margin-left: 5%;
  padding-left: 5%;

}
body{
  background-color:#111111;
  color: gainsboro;
}
button{
  margin-left: 3%;
  width: 6%;
  height: 5%;
  min-width: 60px;
  
}
